extends layout

block content

      if (user)
        div.homepage-banner
          div.left-hmp-banner
            h1.title-hmp=title 
            h3.heading-hmp Welcome back to the Club #{user.username} !
            span Below here, you can see all the comments posted by all our members. Feel free to share with them!
            a.log-in-out-btn(href="/log-out") LOG OUT
          div.right-hmp-banner
              img.hmp-pic(src='/images/hmp-pic.jpg' height='90%')


          //- // Add possibility if not member but not PREMIUM


      else
        div.homepage-banner
          div.left-hmp-banner
            h1.title-hmp=title 
            h3.heading-hmp This club was created centuries ago to share thoughts and ideas about the society. Today, our goal still remains and keeps his doors open. Please feel free to log-in and join the club to share your thoughts.
            h5.password-div Our password is 1234
            a.log-in-out-btn(href='/auth/log-in') Log-in
          div.right-hmp-banner
              img.hmp-pic(src='/images/hmp-pic.jpg' height='90%')

      div.all-comments-div
        header checkthis out

      //- // SHOW ALL COMMENTS BELOW
